---
import type { CollectionEntry } from "astro:content";
import type { Category } from "src/project.type.ts";
import { getCategoryEmoji } from "src/lib/utils";
type Props = {
  entry: CollectionEntry<"ideas">;
  categories: Category[];
};

const { entry, categories } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="relative group flex flex-nowrap py-3 px-4 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
  <div>
    {entry.data.title}
    {
      categories
        .map((category: Category) => getCategoryEmoji(category))
        .join("")
    }
  </div>
</a>
